<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl5uZQjsmqfimubARL3cUvkuxOwfS7sGI</string>
	<key>GCM_SENDER_ID</key>
	<string>52877239156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.AapleLaadoo</string>
	<key>PROJECT_ID</key>
	<string>aaplelaadoo-3510d</string>
	<key>STORAGE_BUCKET</key>
	<string>aaplelaadoo-3510d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52877239156:ios:c2ee8c7bbcc45794234221</string>
</dict>
</plist>